.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  background-color: #fff; /* Set the background color for your logo */
  /* You can add a background image for your logo if needed */
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  font-size: 18px;
}

li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Arial', sans-serif; /* Change the font family */
  font-size: 16px; /* Adjust the font size */
  padding: 10px 15px; /* Increase padding for larger buttons */
  border-radius: 5px; /* Add rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease;
}

li a:hover {
  background-color: #555; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}
