.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}

.logo-link {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 50px; 
  height: auto;   
  font-size: 0px;
}

.logo img {
  width: 150%;
  height: auto;
  display: inline-block;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav li {
  font-size: 18px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav li a:hover {
  background-color: #555;
  color: #fff;
}
