.task {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task span {
  flex-grow: 1;
  margin-right: 10px;
}

.task button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.task button:hover {
  background-color: #45a049;
}
