.tasks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tasks-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



button {
  background-color: #61dafb;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4fa3d1;
}

label input[type="checkbox"] {
  margin-left: 8px;
}
