.task {
  padding: 30px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.task .task-content {
  padding-bottom: 20px;
}

.task .task-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.task .task-content h2 {
  font-size: 25px;
  padding-bottom: 15px;
}

.task .task-content p {
  padding-bottom: 5px;
}
